@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h1 class="text-center " id="title">Acerca de nosotros</h1>

    <h3 class="text-bg-light">Conoce nuestra librería y todos los detalles sobre ella !</h3>


    <div class="container marketing">
        <!-- Tres columnas de texto debajo del carrusel -->
        <div class="row">
            <div class="col-lg-4">
                <!-- Envolvemos la imagen en un enlace para que sea clickeable -->
                <a href="https://st3.depositphotos.com/6660138/18256/v/450/depositphotos_182568336-stock-illustration-freehand-retro-cartoon-history-book.jpg" target="_blank">
                    <!-- Usamos <img> para mostrar la imagen -->
                    <img src="https://st3.depositphotos.com/6660138/18256/v/450/depositphotos_182568336-stock-illustration-freehand-retro-cartoon-history-book.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="Imagen de ejemplo">
                </a>
                <h2 class="fw-normal">Historia</h2>
                <p>"Librería El Rincón del Quijote nació con el sueño de crear un lugar donde los amantes de la lectura pudieran encontrar un refugio de conocimiento, historias y sueños. Inspirados por la famosa obra de Cervantes, Don Quijote, nuestro nombre refleja nuestro compromiso con la literatura clásica y la exploración de nuevas voces literarias. Nuestra misión es promover la lectura y la cultura en todos sus aspectos, ofreciendo una selección cuidadosa de libros que inspiren a nuestros clientes a explorar mundos imaginarios, aprender y crecer."</p>
                <p><a class="btn btn-secondary" href="#">Ver detalles &raquo;</a></p>
            </div><!-- /.col-lg-4 -->

            <div class="col-lg-4">
                <a href="https://dical.es/modules/ph_simpleblog/covers/18.jpg" target="_blank">
                    <img src="https://dical.es/modules/ph_simpleblog/covers/18.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="Imagen de ejemplo">
                </a>
                <h2 class="fw-normal">Variedad y Oferta de Libros</h2>
                <p>"En El Rincón del Quijote, nos enorgullece ofrecer una amplia variedad de libros para todos los gustos y edades. Desde las grandes obras clásicas de la literatura universal hasta los títulos más actuales de escritores contemporáneos, nuestra selección está pensada para satisfacer tanto a los lectores más exigentes como a aquellos que simplemente buscan escapar a otros mundos. Contamos con una extensa sección de literatura infantil, novelas gráficas, ensayos y poesía, además de un surtido exclusivo de títulos locales y autores independientes."</p>
                <p><a class="btn btn-secondary" href="#">Ver detalles &raquo;</a></p>
            </div><!-- /.col-lg-4 -->

            <div class="col-lg-4">
                <a href="https://estaticos-cdn.prensaiberica.es/clip/5de25772-e6aa-4a09-a097-43d464e04856_16-9-discover-aspect-ratio_default_0.jpg" target="_blank">
                    <img src="https://estaticos-cdn.prensaiberica.es/clip/5de25772-e6aa-4a09-a097-43d464e04856_16-9-discover-aspect-ratio_default_0.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="Imagen de ejemplo">
                </a>
                <h2 class="fw-normal">Comunidad y actividades</h2>
                <p>Más allá de ser una librería, El Rincón del Quijote es un punto de encuentro para todos los amantes de la literatura. Organizamos regularmente presentaciones de libros, talleres de escritura, clubes de lectura y otros eventos que permiten a los lectores compartir su pasión por los libros y descubrir nuevos autores. Nuestra librería está comprometida con la cultura local, apoyando a autores emergentes y ofreciendo un espacio para que la comunidad se conecte, aprenda y disfrute del placer de leer."</p>
                <p><a class="btn btn-secondary" href="#">Ver detalles &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div><!-- /.container -->













    <p>Use this area to provide additional information.</p>
</main>