model Proyecto_LibreriaRincondelQuijote.Models.Carrito
@{
    ViewBag.Title = "Compra Exitosa";
}

<h2>¡Tu compra ha sido realizada con éxito!</h2>
<p>Gracias por comprar con nosotros. Tu compra ha sido procesada y el pago ha sido realizado.</p>
<p><a href="@Url.Action("VerCarrito", "Carrito")" class="btn btn-primary">Volver al Carrito</a></p>
